.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    .ant-menu-item{
        &:hover{
            background-color: rgb(232, 232, 232);;
        }
    }
    .ant-menu-item-selected{

    }
    .user-info{
        position: absolute;
        right: 10px;
        top: 8px;
    }
}